<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
	<div class="container my-5">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">Example Article Title</h2>
						<h6 class="card-subtitle mb-2 text-muted">Category: <span class="text-capitalize">example category</span></h6>
						<h6 class="card-subtitle mb-2 text-muted">Author: <span class="text-capitalize">example author</span></h6>
						<p class="card-text">Example article content goes here...</p>
					</div>
				</div>
				<div class="card my-4">
					<div class="card-body">
						<h5 class="card-title">Leave a Comment</h5>
						<form>
							<div class="form-group">
								<label for="nameInput">Name</label>
								<input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
							</div>
							<div class="form-group">
								<label for="commentInput">Comment</label>
								<textarea class="form-control" id="commentInput" rows="3" placeholder="Enter your comment"></textarea>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				<div class="card my-4">
					<div class="card-body">
						<h5 class="card-title">Comments</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<h6 class="my-0">Example Commenter Name</h6>
								<small class="text-muted">Date and Time</small>
								<p class="my-2">Example comment content goes here...</p>
							</li>
							<li class="list-group-item">
								<h6 class="my-0">Example Commenter Name</h6>
								<small class="text-muted">Date and Time</small>
								<p class="my-2">Example comment content goes here...</p>
							</li>
							<!-- more comments... -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
